.jumbotron{
    background:none;
    text-align: center;
}
.light-back{
    background:#e5e6eb;
    padding: 2rem;
}
   
.dark-back{
    background: #afafaf;
    padding: 2rem;
}
.basket{
    max-width: 100%;
}
div.def-2{
    padding-left: 30px;
    padding-right: 15px;
}
button.yoo{
    background-color: #7289da;
    color: floralwhite;
    display: block;
    margin: auto;
}
h5.modal-title{
    display: block;
    margin: auto;
    
}

img.ezio{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}


img.footer-image{
    width:500px;
    height: 250px;
    display: block;
    margin: auto;
    
}
.btn-center{
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
}
footer.footer-con{
padding: 30px;
}

img.ezio1{/************** footer ezio****************/
    height: 180px;
    width: 18opx;
}
/*
.fa-facebook-square {*********basic styling **
    color:white;
    background-color: #3b5998;
    font-size: 30px;
    padding: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
     
}
*/

/*************** social media **************/
.social-media{
    margin: auto;
}
/************opacity is common **/

.fa:hover { /******** it function when the cursor clicks the icon ***********/
  opacity: 0.7;
}

.fa{
    margin:5px;
}
button.fb{
    color:#3B5998;
   
}
button.twitter{
    color: #1da1f2;
 }
button.instagram{
    color: white;
}






























